PORT=3000
APP_VERSION=dev
CHECK_INTERVAL_MS=30000
REQUEST_TIMEOUT_MS=5000
SLO_TARGET=0.995
TARGETS_JSON=[{"id":"portfolio","url":"https://tcousin.com"},{"id":"vs-calculator","url":"https://vs-calculator.tcousin.com"},{"id":"sc-haul","url":"https://sc-haul.tcousin.com"}]
